body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
